.Card {
    display: flex !important;
    margin: 10px 20px !important;
}

@media (min-width: 600px){
    .Card{
        margin: 10px 10% !important;
    }
}

.CardDetails {
    display: flex !important;
    flex-direction: column !important;
}

.CardContent {
    flex: 1 0 auto;
}

.CardCover {
    width: 121px;
    height: 121px;
    margin: 10px;
    background-size: contain !important;
}